<section>
  <div class="py-12 lg:mx-auto lg:max-w-7xl lg:px-16 lg:py-32">
    <div class="flex flex-col w-full text-center lg:mb-12">
      <h2 class="mb-4 text-4xl font-bold leading-none text-white rou lg:rounded-t-mdnded-t-n">All the features you need</h2>
      <strong class="w-full mx-auto mb-8 text-xl font-light text-center text-white text-opacity-60 lg:text-center">
        Ready setup, so you save time doing so.
      </strong>
    </div>
    <div class="space-y-8">
      <div class="px-5 lg:px-0">
        <div class="mx-auto max-w-7xl">
          <div class="overflow-hidden rounded-2xl shadow-thick bg-cinder lg:grid lg:grid-cols-2 lg:gap-4">
            <div class="px-6 pt-10 pb-12 sm:pt-16 sm:px-16 lg:py-16 lg:pr-0 xl:py-20 xl:px-20">
              <div class="space-y-4 lg:space-y-8 lg:self-center">
                <div class="flex items-center text-moody">
                  <svg
                    class="w-6 h-6"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none rounded-e-tl-md"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
                    />
                  </svg>
                </div>
                <h2 class="text-4xl font-bold leading-snug text-white lg:text-3xl">Legacy</h2>
                <p class="text-xl font-light text-white text-opacity-60">
                  Legacy Shadow is a true real-time platform with no start of day files to reconcile or end of day files to post, we provide APIs for real-time
                  interactions.
                </p>
                <div class="flex w-full max-w-2xl gap-2">
                  <div class="my-3 rounded-lg sm:mt-0">
                    <a
                      href="#"
                      class="text-base font-medium text-center text-white transition duration-500 ease-in-out transform rounded-t-none hover:text-flamingo focus:outline-none"
                    >
                      Learn more &rarr;
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="aspect-w-5 aspect-h-3 md:aspect-w-2 md:aspect-h-1">
              <img class="object-cover transform" src="./images/dashboardSquare.png" alt="App screenshot" />
            </div>
          </div>
        </div>
      </div>
      <div class="px-5 lg:px-0">
        <div class="mx-auto max-w-7xl">
          <div class="overflow-hidden rounded-2xl shadow-thick bg-cinder lg:grid lg:grid-cols-2 lg:gap-4">
            <div class="px-6 pt-10 pb-12 sm:pt-16 sm:px-16 lg:py-16 lg:pr-0 xl:py-20 xl:px-20">
              <div class="space-y-4 lg:space-y-8 lg:self-center">
                <div class="flex items-center text-moody">
                  <svg
                    class="w-6 h-6"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none rounded-e-tl-md"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
                    />
                  </svg>
                </div>
                <h2 class="text-4xl font-bold leading-snug text-white lg:text-3xl">API</h2>
                <p class="text-xl font-light text-white text-opacity-60">
                  Low-cost pricing to launch and scale your product with new revenue opportunities not previously available, and credits to help you get
                  started.
                </p>
                <div class="flex w-full max-w-2xl gap-2">
                  <div class="my-3 rounded-lg sm:mt-0">
                    <a
                      href="#"
                      class="text-base font-medium text-center text-white transition duration-500 ease-in-out transform rounded-t-none hover:text-flamingo focus:outline-none"
                    >
                      Learn more &rarr;
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="aspect-w-5 aspect-h-3 md:aspect-w-2 md:aspect-h-1">
              <img class="object-cover transform" src="./images/dashboardSquareTools.png" alt="App screenshot" />
            </div>
          </div>
        </div>
      </div>
      <div class="px-5 lg:px-0">
        <div class="mx-auto max-w-7xl">
          <div class="overflow-hidden rounded-2xl shadow-thick bg-cinder lg:grid lg:grid-cols-2 lg:gap-4">
            <div class="px-6 pt-10 pb-12 sm:pt-16 sm:px-16 lg:py-16 lg:pr-0 xl:py-20 xl:px-20">
              <div class="space-y-4 lg:space-y-8 lg:self-center">
                <div class="flex items-center text-moody">
                  <svg
                    class="w-6 h-6"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none rounded-e-tl-md"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                    aria-hidden="true"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
                    />
                  </svg>
                </div>
                <h2 class="text-4xl font-bold leading-snug text-white lg:text-3xl">Code</h2>
                <p class="text-xl font-light text-white text-opacity-60">
                  No need for "testing in production", Shadow’s Sandbox environment is identical to production enabling you to build and launch faster.
                </p>
                <div class="flex w-full max-w-2xl gap-2">
                  <div class="my-3 rounded-lg sm:mt-0">
                    <a
                      href="#"
                      class="text-base font-medium text-center text-white transition duration-500 ease-in-out transform hover:text-flamingo focus:outline-none"
                    >
                      Learn more &rarr;
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="aspect-w-5 aspect-h-3 md:aspect-w-2 md:aspect-h-1">
              <img class="object-cover transform" src="./images/dashboardSquarePens.png" alt="App screenshot" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="relative items-center hidden w-full max-w-6xl px-5 py-12 mx-auto md:px-12 lg:px-16 lg:block">
      <div class="mx-auto">
        <div class="grid grid-cols-2 mx-auto lg:grid-cols-5">
          <div>
            <img class="h-12 mx-auto" src="./images/brands/logoOne.svg" alt="Figma" />
          </div>
          <div>
            <img class="h-12 mx-auto" src="./images/brands/logoTwo.svg" alt="Framer" />
          </div>
          <div>
            <img class="h-12 mx-auto" src="./images/brands/logoThree.svg" alt="Sketch " />
          </div>
          <div>
            <img class="h-12 mx-auto" src="./images/brands/logoFour.svg" alt="Sketch " />
          </div>

          <div>
            <img class="h-12 mx-auto" src="./images/brands/logoFive.svg" alt="Invision" />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
