<section class="relative w-full">
  <div class="relative items-center w-full px-5 py-12 mx-auto lg:py-32 md:px-12 lg:px-16 max-w-7xl">
    <div class="lg:grid lg:grid-cols-3 lg:gap-8 lg:px-2">
      <div>
        <h2 class="text-3xl font-bold text-white">Components</h2>
        <p class="mt-4 text-xs lg:text-base text-santa">Buttons, alerts, inputs.</p>
      </div>
      <div class="mt-12 space-y-12 lg:mt-0 lg:col-span-2">
        <main class="flex-auto">
          <div class="max-w-2xl mx-auto">
            <div class="pb-6 border-b border-river">
              <h3 class="text-2xl font-normal leading-6 text-white">Buttons</h3>
            </div>
            <div class="flex-grow mt-6">
              <div class="flex flex-wrap gap-2">
                <div>
                  <a
                    href="#"
                    class="items-center px-8 py-3 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-majorelly lg:px-10 rounded-xl hover:bg-gov focus:outline-none focus:ring-2 focus:ring-offset-2 shadow-thick"
                  >
                    Primary
                  </a>
                </div>
                <div>
                  <a
                    href="#"
                    class="items-center px-8 py-2.5 text-base font-medium text-center text-white transition duration-500 ease-in-out transform border-2 border-white lg:px-10 rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 shadow-thick"
                  >
                    Secondary
                  </a>
                </div>
                <div>
                  <a
                    href="#"
                    class="items-center px-8 py-3 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-river lg:px-10 rounded-xl focus:ring-2 focus:ring-offset-2 focus:ring-river hover:bg-tuna hover:border-tuna shadow-thick"
                  >
                    Tertiary
                  </a>
                </div>
              </div>
            </div>
          </div>
        </main>

        <main class="flex-auto">
          <div class="max-w-2xl mx-auto">
            <div class="pb-6 border-b border-river">
              <h3 class="text-2xl font-normal leading-6 text-white">Buttons with icons</h3>
            </div>
            <div class="flex-grow mt-6">
              <div class="flex flex-wrap gap-2">
                <div>
                  <a
                    href="#"
                    class="inline-flex items-center px-8 py-3 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-majorelly lg:px-10 rounded-xl hover:bg-gov focus:outline-none focus:ring-2 focus:ring-offset-2 shadow-thick"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="mr-4 icon icon-tabler icon-tabler-heart"
                      width="16"
                      height="16"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                    </svg>
                    Primary
                  </a>
                </div>
                <div>
                  <a
                    href="#"
                    class="items-center px-8 py-2.5 text-base font-medium text-center text-white transition duration-500 ease-in-out transform border-2 border-white lg:px-10 rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 shadow-thick inline-flex"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="mr-4 icon icon-tabler icon-tabler-heart"
                      width="16"
                      height="16"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                    </svg>
                    Secondary
                  </a>
                </div>
                <div>
                  <a
                    href="#"
                    class="inline-flex items-center px-8 py-3 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-river lg:px-10 rounded-xl focus:ring-2 focus:ring-offset-2 focus:ring-river hover:bg-tuna hover:border-tuna shadow-thick"
                  >
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      class="mr-4 icon icon-tabler icon-tabler-heart"
                      width="16"
                      height="16"
                      viewBox="0 0 24 24"
                      stroke-width="1.5"
                      stroke="currentColor"
                      fill="none"
                      stroke-linecap="round"
                      stroke-linejoin="round"
                    >
                      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                      <path d="M19.5 13.572l-7.5 7.428l-7.5 -7.428m0 0a5 5 0 1 1 7.5 -6.566a5 5 0 1 1 7.5 6.572" />
                    </svg>
                    Tertiary
                  </a>
                </div>
              </div>
            </div>
          </div>
        </main>
        <!------>
        <main class="flex-auto">
          <div class="max-w-2xl mx-auto">
            <div class="pb-6 border-b border-river">
              <h3 class="text-2xl font-normal leading-6 text-white">Breadcrumbs</h3>
            </div>
            <div class="flex-grow mt-6 space-y-6">
              <nav class="flex" aria-label="Breadcrumb">
                <ol role="list" class="flex items-center space-x-4">
                  <li>
                    <div>
                      <a href="#" class="text-gray-400 hover:text-moody">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-grid-dots"
                          width="20"
                          height="20"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <circle cx="5" cy="5" r="1" />
                          <circle cx="12" cy="5" r="1" />
                          <circle cx="19" cy="5" r="1" />
                          <circle cx="5" cy="12" r="1" />
                          <circle cx="12" cy="12" r="1" />
                          <circle cx="19" cy="12" r="1" />
                          <circle cx="5" cy="19" r="1" />
                          <circle cx="12" cy="19" r="1" />
                          <circle cx="19" cy="19" r="1" />
                        </svg>
                        <span class="sr-only">Home</span>
                      </a>
                    </div>
                  </li>

                  <li>
                    <div class="flex items-center">
                      <svg
                        class="flex-shrink-0 w-5 h-5 text-santa"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        aria-hidden="true"
                      >
                        <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
                      </svg>
                      <a href="" class="ml-4 text-sm font-medium text-gray-500 hover:text-moody">Center</a>
                    </div>
                  </li>

                  <li>
                    <div class="flex items-center">
                      <svg
                        class="flex-shrink-0 w-5 h-5 text-santa"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        aria-hidden="true"
                      >
                        <path d="M5.555 17.776l8-16 .894.448-8 16-.894-.448z" />
                      </svg>
                      <a href="#" class="ml-4 text-sm font-medium text-gray-500 hover:text-moody" aria-current="page">Help center</a>
                    </div>
                  </li>
                </ol>
              </nav>
              <nav class="flex" aria-label="Breadcrumb">
                <ol role="list" class="flex px-6 space-x-4 rounded-xl bg-cinder">
                  <li class="flex">
                    <div class="flex items-center">
                      <a href="#" class="text-santa hover:text-smoke">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-grid-dots"
                          width="20"
                          height="20"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                          <circle cx="5" cy="5" r="1" />
                          <circle cx="12" cy="5" r="1" />
                          <circle cx="19" cy="5" r="1" />
                          <circle cx="5" cy="12" r="1" />
                          <circle cx="12" cy="12" r="1" />
                          <circle cx="19" cy="12" r="1" />
                          <circle cx="5" cy="19" r="1" />
                          <circle cx="12" cy="19" r="1" />
                          <circle cx="19" cy="19" r="1" />
                        </svg>

                        <span class="sr-only">Home</span>
                      </a>
                    </div>
                  </li>

                  <li class="flex">
                    <div class="flex items-center">
                      <svg
                        class="flex-shrink-0 w-6 h-full text-river"
                        viewBox="0 0 24 44"
                        preserveAspectRatio="none"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true"
                      >
                        <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
                      </svg>
                      <a href="#" class="ml-4 text-sm font-medium text-santa hover:text-smoke">Center</a>
                    </div>
                  </li>

                  <li class="flex">
                    <div class="flex items-center">
                      <svg
                        class="flex-shrink-0 w-6 h-full text-river"
                        viewBox="0 0 24 44"
                        preserveAspectRatio="none"
                        fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg"
                        aria-hidden="true"
                      >
                        <path d="M.293 0l22 22-22 22h1.414l22-22-22-22H.293z" />
                      </svg>
                      <a href="#" class="ml-4 text-sm font-medium text-santa hover:text-white" aria-current="page">Help Center</a>
                    </div>
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </main>
        <!------>
        <main class="flex-auto">
          <div class="max-w-2xl mx-auto">
            <div class="pb-6 border-b border-river">
              <h3 class="text-2xl font-normal leading-6 text-white">Badges</h3>
            </div>
            <div class="flex-grow mt-6">
              <div class="flex flex-wrap items-center gap-6">
                <!-- This example requires Tailwind CSS v2.0+ -->
                <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-pearl border border-tuna text-santa"> Badge </span>
                <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-pearl border border-tuna text-moody"> Badge </span>
                <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-pearl border border-tuna text-grandis"> Badge </span>
                <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-pearl border border-tuna text-herbs"> Badge </span>
                <span class="inline-flex items-center px-2.5 py-0.5 rounded-md text-sm font-medium bg-pearl border border-tuna text-fandango"> Badge </span>
              </div>
            </div>
          </div>
        </main>
        <!------>
        <main class="flex-auto">
          <div class="max-w-2xl mx-auto">
            <div class="pb-6 border-b border-river">
              <h3 class="text-2xl font-normal leading-6 text-white">Alerts</h3>
            </div>
            <div class="flex-grow mt-6">
              <div class="flex flex-col gap-12 lg:grid lg:grid-cols-1">
                <div class="space-y-4">
                  <!----info-->
                  <div class="p-4 border rounded-xl bg-pearl border-tuna">
                    <div class="flex">
                      <div class="flex-shrink-0">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler icon-tabler-info-circle text-moody"
                          width="20"
                          height="20"
                          viewBox="0 0 24 24"
                          stroke-width="2"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <circle cx="12" cy="12" r="9"></circle>
                          <line x1="12" y1="8" x2="12.01" y2="8"></line>
                          <polyline points="11 12 12 12 12 16 13 16"></polyline>
                        </svg>
                      </div>
                      <div class="ml-3">
                        <h3 class="text-base font-medium text-moody">Info</h3>
                        <div class="mt-2 text-sm text-santa">
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid pariatur, ipsum similique veniam.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!----warning-->
                  <div class="p-4 border rounded-xl bg-pearl border-tuna">
                    <div class="flex">
                      <div class="flex-shrink-0">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler text-warning icon-tabler-alert-triangle text-grandis"
                          width="20"
                          height="20"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path d="M12 9v2m0 4v.01"></path>
                          <path d="M5 19h14a2 2 0 0 0 1.84 -2.75l-7.1 -12.25a2 2 0 0 0 -3.5 0l-7.1 12.25a2 2 0 0 0 1.75 2.75"></path>
                        </svg>
                      </div>
                      <div class="ml-3">
                        <h3 class="text-base font-medium text-grandis">Warning</h3>
                        <div class="mt-2 text-sm text-santa">
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid pariatur, ipsum similique veniam.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!----danger-->
                  <div class="p-4 border rounded-xl bg-pearl border-tuna">
                    <div class="flex">
                      <div class="flex-shrink-0">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler text-psycho icon-tabler-alert-octagon text-fandango"
                          width="20"
                          height="20"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <path
                            d="M8.7 3h6.6c.3 0 .5 .1 .7 .3l4.7 4.7c.2 .2 .3 .4 .3 .7v6.6c0 .3 -.1 .5 -.3 .7l-4.7 4.7c-.2 .2 -.4 .3 -.7 .3h-6.6c-.3 0 -.5 -.1 -.7 -.3l-4.7 -4.7c-.2 -.2 -.3 -.4 -.3 -.7v-6.6c0 -.3 .1 -.5 .3 -.7l4.7 -4.7c.2 -.2 .4 -.3 .7 -.3z"
                          ></path>
                          <line x1="12" y1="8" x2="12" y2="12"></line>
                          <line x1="12" y1="16" x2="12.01" y2="16"></line>
                        </svg>
                      </div>
                      <div class="ml-3">
                        <h3 class="text-base font-medium text-fandango">Danger</h3>
                        <div class="mt-2 text-sm text-santa">
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid pariatur, ipsum similique veniam.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <!----success-->
                  <div class="p-4 border rounded-xl bg-pearl border-tuna">
                    <div class="flex">
                      <div class="flex-shrink-0">
                        <svg
                          xmlns="http://www.w3.org/2000/svg"
                          class="icon icon-tabler text-success icon-tabler-circle-check text-herbs"
                          width="20"
                          height="20"
                          viewBox="0 0 24 24"
                          stroke-width="1.5"
                          stroke="currentColor"
                          fill="none"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        >
                          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                          <circle cx="12" cy="12" r="9"></circle>
                          <path d="M9 12l2 2l4 -4"></path>
                        </svg>
                      </div>
                      <div class="ml-3">
                        <h3 class="text-base font-medium text-herbs">Success</h3>
                        <div class="mt-2 text-sm text-santa">
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid pariatur, ipsum similique veniam.</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <main class="flex-auto">
          <div class="max-w-2xl mx-auto">
            <div class="pb-6 border-b border-river">
              <h3 class="text-2xl font-normal leading-6 text-white">Dismissable Alerts</h3>
            </div>
            <div class="flex-grow mt-6">
              <div class="flex flex-col gap-12 lg:grid lg:grid-cols-1">
                <div class="space-y-4">
                  <!----info-->
                  <div x-data="{ open: true }">
                    <div x-show="open" @click.away="open = false" class="p-4 border rounded-xl bg-pearl border-tuna">
                      <div class="flex items-start">
                        <div class="flex-shrink-0">
                          <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="icon icon-tabler icon-tabler-info-circle text-moody"
                            width="20"
                            height="20"
                            viewBox="0 0 24 24"
                            stroke-width="2"
                            stroke="currentColor"
                            fill="none"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                          >
                            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                            <circle cx="12" cy="12" r="9"></circle>
                            <line x1="12" y1="8" x2="12.01" y2="8"></line>
                            <polyline points="11 12 12 12 12 16 13 16"></polyline>
                          </svg>
                        </div>
                        <div class="ml-3">
                          <h3 class="text-base font-medium text-moody">Info</h3>
                          <div class="mt-2 text-sm text-santa">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid pariatur, ipsum similique veniam.</p>
                          </div>
                        </div>
                        <div class="pl-3 ml-auto">
                          <div class="-mx-1.5 -my-1.5">
                            <button
                              @click="open = false"
                              type="button"
                              class="inline-flex rounded-md p-1.5 text-moody hover:bg-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-white"
                            >
                              <span class="sr-only">Dismiss</span>
                              <svg class="w-5 h-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path
                                  fill-rule="evenodd"
                                  d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                                  clip-rule="evenodd"
                                ></path>
                              </svg>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
        <!------>
        <main class="flex-auto">
          <div class="max-w-2xl mx-auto">
            <div class="pb-6 border-b border-river">
              <h3 class="text-2xl font-normal leading-6 text-white">Accordeons</h3>
            </div>
            <div class="flex-grow mt-6">
              <div class="flex flex-col gap-12 lg:grid lg:grid-cols-1">
                <div class="mx-auto overflow-hidden border-2 border-cinder rounded-xl" x-data="{selected:null}">
                  <ul class="">
                    <li class="relative border-b-2 group border-pearl" @click="open = !open">
                      <button
                        type="button"
                        class="w-full text-left focus:outline-none focus:border-outline focus:bg-cinder bg-cinder focus:text-white"
                        @click="selected !== 1 ? selected = 1 : selected = null"
                      >
                        <div class="flex items-center justify-between p-4 text-base text-santa">
                          <span class="text-lg font-normal text-comet group-hover:text-moody"> Do I need to know HTML and CSS? </span>
                          <svg
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            :class="{'rotate-180': open, 'rotate-0': !open}"
                            class="inline w-6 h-6 mt-1 ml-1 transition-transform duration-200 transform rotate-180 md:-mt-1 text-comet group-hover:text-moody"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                              clip-rule="evenodd"
                            ></path>
                          </svg>
                        </div>
                      </button>
                      <div
                        class="relative overflow-hidden transition-all duration-700 max-h-0"
                        style=""
                        x-ref="container1"
                        x-bind:style="selected == 1 ? 'max-height: ' + $refs.container1.scrollHeight + 'px' : ''"
                      >
                        <div class="p-4">
                          <p class="text-lg font-normal text-santa">
                            To make the template feel yours, you need to know the fundamentals of HTML and CSS. It is important to understand the differences
                            between these two, the syntax of each language, and some common terminology to be able to edit the template. There are numerous
                            resources on the internet that will assist you if you need help with HTML, CSS, Javascript/jQuery, etc. Nevertheless, there are some
                            specific online sources that will provide plenty of assistances. Here is a small list: W3Schools Mozilla Developer Network (MDN) Web
                            Docs Stack Overflow
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="relative border-b-2 border-pearl group" @click="open = !open">
                      <button
                        type="button"
                        class="w-full text-left focus:outline-none focus:border-outline focus:bg-cinder bg-cinder focus:text-white"
                        @click="selected !== 2 ? selected = 2 : selected = null"
                      >
                        <div class="flex items-center justify-between p-4 text-base text-santa">
                          <span class="text-lg font-normal text-comet group-hover:text-moody"> Can I install the template on a CMS? </span>
                          <svg
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            :class="{'rotate-180': open, 'rotate-0': !open}"
                            class="inline w-6 h-6 mt-1 ml-1 transition-transform duration-200 transform rotate-180 md:-mt-1 text-comet group-hover:text-moody"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                              clip-rule="evenodd"
                            ></path>
                          </svg>
                        </div>
                      </button>
                      <div
                        class="relative overflow-hidden transition-all duration-700 max-h-0"
                        style=""
                        x-ref="container2"
                        x-bind:style="selected == 2 ? 'max-height: ' + $refs.container2.scrollHeight + 'px' : ''"
                      >
                        <div class="p-4">
                          <p class="text-lg font-normal text-santa">
                            The template cannot be installed on WordPress, Blogger, Joomla, Drupal, Ghost, or any other CMS. It is primarily designed for use on
                            the web as a standard website.
                          </p>
                        </div>
                      </div>
                    </li>
                    <li class="relative border-pearl group" @click="open = !open">
                      <button
                        type="button"
                        class="w-full text-left focus:outline-none focus:border-outline focus:bg-cinder bg-cinder focus:text-white"
                        @click="selected !== 3 ? selected = 3 : selected = null"
                      >
                        <div class="flex items-center justify-between p-4 text-base text-santa">
                          <span class="text-lg font-normal text-comet group-hover:text-moody"> Will I receive future updates? </span>
                          <svg
                            fill="currentColor"
                            viewBox="0 0 20 20"
                            :class="{'rotate-180': open, 'rotate-0': !open}"
                            class="inline w-6 h-6 mt-1 ml-1 transition-transform duration-200 transform rotate-180 md:-mt-1 text-comet group-hover:text-moody"
                          >
                            <path
                              fill-rule="evenodd"
                              d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
                              clip-rule="evenodd"
                            ></path>
                          </svg>
                        </div>
                      </button>
                      <div
                        class="relative overflow-hidden transition-all duration-700 max-h-0"
                        style=""
                        x-ref="container3"
                        x-bind:style="selected == 3 ? 'max-height: ' + $refs.container3.scrollHeight + 'px' : ''"
                      >
                        <div class="p-4">
                          <p class="text-lg font-normal text-santa">
                            We provide maintenance for our templates through updates when necessary. While we attempt to fix the for serious issues, there may
                            be cases where it is impractical or impossible to generate a fix due to compatibility issues or the potential for introduction of
                            unwanted side effects. Any updates will be delivered to you for download via Gumroad. You are solely responsible for downloading,
                            copying, and installing the updates. Please note that we do not guarantee any updates for our free templates.
                          </p>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </div>
</section>
