<section class="relative w-full">
  <div class="relative items-center w-full px-5 pt-12 mx-auto md:px-12 lg:px-20 max-w-7xl">
    <div>
      <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-0">
        <div class="sm:flex sm:items-end sm:space-x-5">
          <div class="flex">
            <img class="w-12 h-12 rounded-full ring-4 ring-cinder" src="./images/avatar.png" alt="" />
          </div>
          <div
            class="mt-6 sm:flex-1 sm:min-w-0 lg:mt-0 sm:flex sm:items-center sm:justify-end sm:space-x-6 sm:pb-1 lg:pb-0">
            <div class="flex-1 min-w-0 mt-6 space-y-2 lg:mt-0 sm:hidden md:block">
              <h3 class="text-xl font-normal leading-snug tracking-tight text-white ">
                Michael Andreuzza <span class="text-santa">/</span>Change
                Password
              </h3>
              <p class="text-sm font-normal text-santa">Manage your password</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="relative w-full">
  <div class="relative items-center w-full px-5 py-12 mx-auto md:px-12 lg:px-20 max-w-7xl">
    <div class="space-y-4 lg:p-6 bg-cinder rounded-3xl">
      <div class="grid grid-cols-1 gap-6 lg:grid-cols-4">
        {{>"dashboard/nav"}}
        <div class="col-span-3 space-y-6">
          <div>
            <div class="p-6 space-y-8 bg-pearl rounded-2xl">
              <div>
                <div
                  class="relative px-3 py-2 border-2 border-gray-300 rounded-xl focus-within:ring-1 focus-within:ring-majorelle focus-within:border-moody">
                  <label for="username"
                    class="absolute inline-block px-1 -mt-px text-xs font-medium text-white bg-pearl -top-2 left-2">Old
                    Password</label>
                  <input type="password" name="member" id="member"
                    class="block w-full py-1 text-white bg-transparent border-0 placeholder-river focus:ring-0 sm:text-sm" />
                </div>
              </div>
              <div>
                <div
                  class="relative px-3 py-2 border-2 border-gray-300 rounded-xl focus-within:ring-1 focus-within:ring-majorelle focus-within:border-moody">
                  <label for="location"
                    class="absolute inline-block px-1 -mt-px text-xs font-medium text-white bg-pearl -top-2 left-2">Password</label>
                  <input type="password" name="location" id="location"
                    class="block w-full py-1 text-white bg-transparent border-0 placeholder-river focus:ring-0 sm:text-sm" />
                </div>
                <span class="text-xs text-santa"> Minimum 6 characters </span>
              </div>

              <div class="flex gap-2 mt-12">
                <button type="submit"
                  class="block px-4 py-3 text-base font-medium text-center text-white transition duration-500 ease-in-out transform tems-center bg-majorelly rounded-xl hover:bg-gov focus:outline-none focus:ring-2 focus:ring-offset-2">
                  Change
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>