<section class="relative w-full">
  <div class="
      relative
      items-center
      w-full
      px-5
      py-12
      mx-auto
      lg:py-32
      md:px-12
      lg:px-16
      max-w-7xl
    ">
    <div class="lg:grid lg:grid-cols-3 lg:gap-8 lg:px-2">
      <div>
        <h2 class="text-3xl font-bold text-white">Faq</h2>
        <p class="mt-4 text-xs lg:text-base text-santa">
          Wicked Labs has a great customer support team and will help you out
          24/7
        </p>
        <div class="flex w-full max-w-2xl gap-2 mt-6">
          <div class="my-3 rounded-lg sm:mt-0">
            <a href="#" class="
                items-center
                block
                px-8
                py-3
                text-base
                font-medium
                text-center text-white
                transition
                duration-500
                ease-in-out
                transform
                bg-majorelly
                lg:px-10
                rounded-xl
                hover:bg-gov
                focus:outline-none focus:ring-2 focus:ring-offset-2
                shadow-thick
              ">
              Talk to Support
            </a>
          </div>
        </div>
      </div>
      <div class="mt-12 lg:mt-0 lg:col-span-2">
        <main class="flex-auto">
          <div class="max-w-2xl mx-auto">
            <h2 class="text-lg font-medium leading-6 text-white lg:text-2xl">
              Do I need to know HTML and CSS?
            </h2>
            <p class="mt-2 text-lg text-santa">
              To make the template feel yours, you need to know the fundamentals
              of HTML and CSS. It is important to understand the differences
              between these two, the syntax of each language, and some common
              terminology to be able to edit the template. There are numerous
              resources on the internet that will assist you if you need help
              with HTML, CSS, Javascript/jQuery, etc. Nevertheless, there are
              some specific online sources that will provide plenty of
              assistances. Here is a small list:
            </p>
            <ul role="list" class="mt-4 space-y-4 list-disc">
              <li class="text-santa">
                <a class="
                    text-transparent
                    bg-clip-text bg-gradient-to-r
                    hover:from-white hover:to-dim
                    from-white
                    to-santa
                  " target="_blank" href="https://www.w3schools.com/">
                  W3Schools
                </a>
              </li>
              <li class="text-santa">
                <a class="
                    text-transparent
                    bg-clip-text bg-gradient-to-r
                    hover:from-white hover:to-dim
                    from-white
                    to-santa
                  " target="_blank" href="https://developer.mozilla.org/en-US/">
                  Mozilla Developer Network (MDN) Web Docs
                </a>
              </li>
              <li class="text-santa">
                <a class="
                    text-transparent
                    bg-clip-text bg-gradient-to-r
                    hover:from-white hover:to-dim
                    from-white
                    to-santa
                  " target="_blank" href="https://stackoverflow.com/">
                  Stack Overflow
                </a>
              </li>
            </ul>
            <p class="mt-2 text-lg text-santa"></p>
            <h2 class="mt-12 text-lg font-medium leading-6 text-white lg:text-2xl">
              Can I install the template on a CMS?
            </h2>
            <p class="mt-2 text-lg text-santa">
              The template cannot be installed on WordPress, Blogger, Joomla,
              Drupal, Ghost, or any other CMS. It is primarily designed for use
              on the web as a standard website.
            </p>
            <h2 class="mt-12 text-lg font-medium leading-6 text-white lg:text-2xl">
              Will I receive future updates?
            </h2>
            <p class="mt-2 text-lg text-santa">
              We provide maintenance for our templates through updates when
              necessary. While we attempt to fix the for serious issues, there
              may be cases where it is impractical or impossible to generate a
              fix due to compatibility issues or the potential for introduction
              of unwanted side effects. Any updates will be delivered to you for
              download via Gumroad. You are solely responsible for downloading,
              copying, and installing the updates. Please note that we do not
              guarantee any updates for our free templates.
            </p>
            <h2 class="mt-12 text-lg font-medium leading-6 text-white lg:text-2xl">
              What kind of support do you provide?
            </h2>
            <p class="mt-2 text-lg text-santa">
              To help you find answers on your own, we provide access to a
              READ.me about the template in each template files. It covers the
              installation of the template and provides solutions to common
              problems. We encourage you to refer to it if you are experiencing
              any difficulties before contacting us. We will not respond to any
              support inquiries left in the comment sections of an external
              marketplace or social media. Please note that we do not provide
              support for our free templates.
            </p>
            <h2 class="mt-12 text-lg font-medium leading-6 text-white lg:text-2xl">
              Do I own the rights to the modified template?
            </h2>
            <p class="mt-2 text-lg text-santa">
              We retain ownership of the template itself, or any portion
              thereof, which remain in any modification, and reserve all rights
              not expressly granted to you. You own all rights only in the
              modification itself.
            </p>
            <h2 class="mt-12 text-lg font-medium leading-6 text-white lg:text-2xl">
              What should I use to work with the template?
            </h2>
            <p class="mt-2 text-lg text-santa">
              There are a number of code editors available.. If you use a PC,
              Notepad is available with your operating system, and for Mac
              users, TextEdit comes pre-installed. However, a proper code editor
              will help tremendously.
            </p>
            <ul role="list" class="mt-4 space-y-4 list-disc">
              <li class="text-santa">
                <a class="
                    text-transparent
                    bg-clip-text bg-gradient-to-r
                    hover:from-white hover:to-dim
                    from-white
                    to-santa
                  " target="_blank" href="http://brackets.io/">
                  Brackets
                </a>
              </li>
              <li class="text-santa">
                <a class="
                    text-transparent
                    bg-clip-text bg-gradient-to-r
                    hover:from-white hover:to-dim
                    from-white
                    to-santa
                  " target="_blank" href="https://atom.io/">
                  Atom
                </a>
              </li>
              <li class="text-santa">
                <a class="
                    text-transparent
                    bg-clip-text bg-gradient-to-r
                    hover:from-white hover:to-dim
                    from-white
                    to-santa
                  " target="_blank" href="https://code.visualstudio.com/download">
                  VS Code
                </a>
              </li>
            </ul>
            <h2 class="mt-12 text-lg font-medium leading-6 text-white lg:text-2xl">
              Which browsers are supported?
            </h2>
            <p class="mt-2 text-lg text-santa">
              Our templates have been tested in the most recent stable versions
              of:
            </p>
            <ul role="list" class="mt-4 space-y-4 list-disc">
              <li class="text-santa">
                <a class="
                    text-transparent
                    bg-clip-text bg-gradient-to-r
                    hover:from-white hover:to-dim
                    from-white
                    to-santa
                  " href="https://www.mozilla.org/en-US/firefox/products/">
                  Firefox
                </a>
              </li>
              <li class="text-santa">
                <a class="
                    text-transparent
                    bg-clip-text bg-gradient-to-r
                    hover:from-white hover:to-dim
                    from-white
                    to-santa
                  " href="https://www.google.com/chrome/">
                  Chrome
                </a>
              </li>
              <li class="text-santa">
                <a class="
                    text-transparent
                    bg-clip-text bg-gradient-to-r
                    hover:from-white hover:to-dim
                    from-white
                    to-santa
                  " href="http://www.apple.com/safari/">
                  Safari
                </a>
              </li>
              <li class="text-santa">
                <a class="
                    text-transparent
                    bg-clip-text bg-gradient-to-r
                    hover:from-white hover:to-dim
                    from-white
                    to-santa
                  " href="https://www.microsoft.com/en-us/windows/microsoft-edge">
                  Edge
                </a>
              </li>
              <li class="text-santa">
                <a class="
                    text-transparent
                    bg-clip-text bg-gradient-to-r
                    hover:from-white hover:to-dim
                    from-white
                    to-santa
                  " href="http://www.opera.com/">
                  Opera
                </a>
              </li>
            </ul>
            <h2 class="mt-12 text-lg font-medium leading-6 text-white lg:text-2xl">
              What is your refund policy?
            </h2>
            <p class="mt-2 text-lg text-santa">
              Thanks for supporting Wicked Templates. If you are not entirely
              satisfied with your purchase, we, Wicked Labs are here to help. If
              you’re not satisfied, please contact me and describe the refund
              reason. Once we receive your refund request, We will inspect it
              and notify you about our decision. Usually, we can’t make a refund
              because all our products are digital. But we are responsible for
              the quality of our products and provide a refund if you’re not
              satisfied with it. The return right applies to all products
              presented on the wickedtemplates.com website.
            </p>
          </div>
        </main>
      </div>
    </div>
  </div>
</section>