<section>
  <div class="relative items-center w-full px-5 py-12 mx-auto lg:pb-12 lg:py-0 md:px-12 lg:px-16 max-w-7xl">
    <!-- xs to lg -->
    <div class="grid max-w-2xl grid-cols-1 mx-auto space-y-16 lg:hidden md:grid-cols-3 md:space-y-0">
      <section>
        <div class="mb-8 space-y-6">
          <h2 class="text-lg font-medium leading-6 text-white">Basic</h2>
          <p class="mt-4">
            <span class="text-4xl font-extrabold text-white">$9</span>
            <span class="text-base font-medium text-santa">/mo</span>
          </p>
          <p class="mt-4 text-sm text-santa">Quis suspendisse ut fermentum neque vivamus non tellus.</p>
          <a
            href="#"
            class="items-center block px-8 py-2.5 text-base font-medium text-center text-white transition duration-500 ease-in-out transform border-2 border-white rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:bg-white hover:text-majorelly"
            >Buy Basic</a
          >
        </div>

        <table class="w-full">
          <tbody>
            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature One</th>
              <td class="py-5 pr-4">
                <svg class="w-5 h-5 ml-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Two</th>
              <td class="py-5 pr-4">
                <svg class="w-5 h-5 ml-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Three</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/minus -->
                <svg class="w-5 h-5 ml-auto text-smoke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Four</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/minus -->
                <svg class="w-5 h-5 ml-auto text-smoke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Five.</th>
              <td class="py-5 pr-4">
                <svg class="w-5 h-5 ml-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Seven</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/minus -->
                <svg class="w-5 h-5 ml-auto text-smoke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Eight</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/minus -->
                <svg class="w-5 h-5 ml-auto text-smoke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Nine</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/minus -->
                <svg class="w-5 h-5 ml-auto text-smoke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Ten</th>
              <td class="py-5 pr-4">
                <svg class="w-5 h-5 ml-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Eleven</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/minus -->
                <svg class="w-5 h-5 ml-auto text-smoke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Twelve</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/minus -->
                <svg class="w-5 h-5 ml-auto text-smoke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Thirteen</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/minus -->
                <svg class="w-5 h-5 ml-auto text-smoke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="px-4 pt-5">
          <a
            href="#"
            class="items-center block px-8 py-2.5 text-base font-medium text-center text-white transition duration-500 ease-in-out transform border-2 border-white rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:bg-white hover:text-majorelly"
            >Buy Basic</a
          >
        </div>
      </section>

      <section>
        <div class="mb-8 space-y-6">
          <h2 class="text-lg font-medium leading-6 text-white">Essential</h2>
          <p class="mt-4">
            <span class="text-4xl font-extrabold text-white">$29</span>
            <span class="text-base font-medium text-santa">/mo</span>
          </p>
          <p class="mt-4 text-sm text-santa">Quis eleifend a tincidunt pellentesque. A tempor in sed.</p>
          <a
            href="#"
            class="items-center block px-8 py-3 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-majorelly lg:px-10 rounded-xl hover:bg-gov focus:outline-none focus:ring-2 focus:ring-offset-2"
            >Buy Essential</a
          >
        </div>

        <table class="w-full">
          <caption class="px-4 py-3 text-sm font-medium text-left text-white">
            Features
          </caption>

          <tbody>
            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature One</th>
              <td class="py-5 pr-4">
                <svg class="w-5 h-5 ml-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Two</th>
              <td class="py-5 pr-4">
                <svg class="w-5 h-5 ml-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Three</th>
              <td class="py-5 pr-4">
                <svg class="w-5 h-5 ml-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Four</th>
              <td class="py-5 pr-4">
                <span class="block mx-auto text-sm text-center text-santa">Up to 20 users</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Five.</th>
              <td class="py-5 pr-4">
                <svg class="w-5 h-5 ml-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Seven</th>
              <td class="py-5 pr-4">
                <svg class="w-5 h-5 ml-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Eight</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/minus -->
                <svg class="w-5 h-5 ml-auto text-smoke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Nine</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/minus -->
                <svg class="w-5 h-5 ml-auto text-smoke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Ten</th>
              <td class="py-5 pr-4">
                <svg class="w-5 h-5 ml-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Eleven</th>
              <td class="py-5 pr-4">
                <svg class="w-5 h-5 ml-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Twelve</th>
              <td class="py-5 pr-4">
                <svg class="w-5 h-5 ml-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Thirteen</th>
              <td class="py-5 pr-4">
                <!-- Heroicon name: solid/minus -->
                <svg class="w-5 h-5 ml-auto text-smoke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
                </svg>
                <span class="sr-only">No</span>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="px-4 pt-5">
          <a
            href="#"
            class="items-center block px-8 py-3 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-majorelly lg:px-10 rounded-xl hover:bg-gov focus:outline-none focus:ring-2 focus:ring-offset-2"
            >Buy Essential</a
          >
        </div>
      </section>

      <section>
        <div class="mb-8 space-y-6">
          <h2 class="text-lg font-medium leading-6 text-white">Premium</h2>
          <p class="mt-4">
            <span class="text-4xl font-extrabold text-white">$59</span>
            <span class="text-base font-medium text-santa">/mo</span>
          </p>
          <p class="mt-4 text-sm text-santa">Great features, bae.</p>
          <a
            href="#"
            class="items-center block px-8 py-2.5 text-base font-medium text-center text-white transition duration-500 ease-in-out transform border-2 border-white rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:bg-white hover:text-majorelly"
            >Buy Premium</a
          >
        </div>

        <table class="w-full">
          <caption class="px-4 py-3 text-sm font-medium text-left text-white">
            Features
          </caption>

          <tbody>
            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature One</th>
              <td class="py-5 pr-4">
                <svg class="w-5 h-5 ml-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Two</th>
              <td class="py-5 pr-4">
                <svg class="w-5 h-5 ml-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Three</th>
              <td class="py-5 pr-4">
                <svg class="w-5 h-5 ml-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Four</th>
              <td class="py-5 pr-4">
                <span class="block mx-auto text-sm text-center text-santa">Up to 50 users</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Five.</th>
              <td class="py-5 pr-4">
                <svg class="w-5 h-5 ml-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Seven</th>
              <td class="py-5 pr-4">
                <svg class="w-5 h-5 ml-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Eight</th>
              <td class="py-5 pr-4">
                <svg class="w-5 h-5 ml-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Nine</th>
              <td class="py-5 pr-4">
                <svg class="w-5 h-5 ml-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Ten</th>
              <td class="py-5 pr-4">
                <svg class="w-5 h-5 ml-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Eleven</th>
              <td class="py-5 pr-4">
                <svg class="w-5 h-5 ml-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Twelve</th>
              <td class="py-5 pr-4">
                <svg class="w-5 h-5 ml-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>

            <tr>
              <th class="px-4 py-5 text-sm font-normal text-left text-santa" scope="row">Feature Thirteen</th>
              <td class="py-5 pr-4">
                <svg class="w-5 h-5 ml-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  />
                </svg>
                <span class="sr-only">Yes</span>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="px-4 pt-5">
          <a
            href="#"
            class="items-center block px-8 py-2.5 text-base font-medium text-center text-white transition duration-500 ease-in-out transform border-2 border-white rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:bg-white hover:text-majorelly"
            >Buy Premium</a
          >
        </div>
      </section>
    </div>
    <!-- lg+ -->
    <div class="hidden p-20 lg:block bg-cinder rounded-xl">
      <table class="w-full h-px table-fixed">
        <caption class="sr-only">
          Pricing plan table comparison
        </caption>
        <thead>
          <tr>
            <th class="px-6 pb-4 text-sm font-medium text-left text-white" scope="col">
              <span class="sr-only">Feature by</span>
              <span>Plans</span>
              <div class="relative mt-6 sm:mt-8">
                <div class="flex items-center">
                  <!-- Enabled: "bg-indigo-600", Not Enabled: "bg-gray-200" -->
                  <button
                    type="button"
                    class="relative inline-flex flex-shrink-0 h-6 transition-colors duration-200 ease-in-out border-2 border-transparent rounded-full cursor-pointer bg-santa w-11 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-majorelly"
                    role="switch"
                    aria-checked="false"
                    aria-labelledby="annual-billing-label"
                  >
                    <!-- Enabled: "translate-x-5", Not Enabled: "translate-x-0" -->
                    <span
                      aria-hidden="true"
                      class="inline-block w-5 h-5 transition duration-200 ease-in-out transform translate-x-0 rounded-full shadow pointer-events-none bg-fandango ring-0"
                    ></span>
                  </button>
                  <span class="ml-3" id="annual-billing-label">
                    <span class="text-sm font-medium text-santa">Annual billing </span>
                  </span>
                </div>
              </div>
            </th>

            <th class="w-1/4 px-6 py-4 mx-auto text-lg font-medium leading-6 text-center text-white" scope="col">Plain</th>

            <th class="w-1/4 px-6 py-4 mx-auto text-lg font-medium leading-6 text-center text-white rounded-t-2xl bg-mirage" scope="col">Superb</th>

            <th class="w-1/4 px-6 py-4 mx-auto text-lg font-medium leading-6 text-center text-white" scope="col">Astronomic</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th class="px-6 py-8 text-sm font-medium text-left text-white align-top" scope="row">Pricing</th>

            <td class="h-full px-6 py-8 mx-auto text-center align-top">
              <div class="relative table h-full mx-auto">
                <p>
                  <span class="text-4xl font-extrabold text-white">$0</span>
                  <span class="text-base font-medium text-santa">/mo</span>
                </p>
                <p class="mt-4 mb-16 text-sm text-santa">Great features, bae!</p>
                <a
                  href="#"
                  class="items-center block px-8 py-2.5 text-base font-medium text-center text-white transition duration-500 ease-in-out transform border-2 border-white rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:bg-white hover:text-majorelly"
                  >Buy Plain</a
                >
              </div>
            </td>

            <td class="w-full h-full px-6 py-8 mx-auto text-center align-top bg-mirage">
              <div class="relative table h-full mx-auto">
                <p>
                  <span class="text-4xl font-extrabold text-white">$32</span>
                  <span class="text-base font-medium text-santa">/mo</span>
                </p>
                <p class="mt-4 mb-16 text-sm text-santa">Even more features!</p>
                <a
                  href="#"
                  class="items-center block w-full px-8 py-3 mx-auto text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-majorelly lg:px-10 rounded-xl hover:bg-gov focus:outline-none focus:ring-2 focus:ring-offset-2"
                  >Buy Superb</a
                >
              </div>
            </td>

            <td class="h-full px-6 py-8 mx-auto text-center align-top">
              <div class="relative table h-full mx-auto">
                <p>
                  <span class="text-4xl font-extrabold text-white">$99</span>
                  <span class="text-base font-medium text-santa">/mo</span>
                </p>
                <p class="mt-4 mb-16 text-sm text-santa">OMG Here too!</p>
                <a
                  href="#"
                  class="items-center block px-8 py-2.5 text-base font-medium text-center text-white transition duration-500 ease-in-out transform border-2 border-white rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:bg-white hover:text-majorelly"
                  >Buy Astronomic</a
                >
              </div>
            </td>
          </tr>

          <tr>
            <th class="px-6 py-5 text-sm font-normal text-left text-santa" scope="row">Feature One</th>

            <td class="px-6 py-5">
              <svg class="w-5 h-5 mx-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Included in Plain</span>
            </td>

            <td class="px-6 py-5 bg-mirage">
              <svg class="w-5 h-5 mx-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Included in Superb</span>
            </td>

            <td class="px-6 py-5">
              <svg class="w-5 h-5 mx-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Included in Astronomic</span>
            </td>
          </tr>

          <tr>
            <th class="px-6 py-5 text-sm font-normal text-left text-santa" scope="row">Urna purus felis.</th>

            <td class="px-6 py-5">
              <svg class="w-5 h-5 mx-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Included in Plain</span>
            </td>

            <td class="px-6 py-5 bg-mirage">
              <svg class="w-5 h-5 mx-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Included in Superb</span>
            </td>

            <td class="px-6 py-5">
              <svg class="w-5 h-5 mx-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Included in Astronomic</span>
            </td>
          </tr>

          <tr>
            <th class="px-6 py-5 text-sm font-normal text-left text-santa" scope="row">Tellus pulvinar sit dictum.</th>

            <td class="px-6 py-5">
              <!-- Heroicon name: solid/minus -->
              <svg class="w-5 h-5 mx-auto text-smoke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Plain</span>
            </td>

            <td class="px-6 py-5 rounded-b-2xl bg-mirage">
              <svg class="w-5 h-5 mx-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Included in Superb</span>
            </td>

            <td class="px-6 py-5">
              <svg class="w-5 h-5 mx-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Included in Astronomic</span>
            </td>
          </tr>
          <tr>
            <th class="py-3 pl-6 text-sm font-medium text-left text-white" colspan="4" scope="colgroup">
              <!-- This example requires Tailwind CSS v2.0+ -->
              <div class="relative">
                <div class="absolute inset-0 flex items-center" aria-hidden="true">
                  <div class="w-full border-t border-moody"></div>
                </div>
                <div class="relative flex justify-start">
                  <span class="pr-3 text-lg font-medium text-moody bg-cinder"> Coverage </span>
                </div>
              </div>
            </th>
          </tr>

          <tr>
            <th class="px-6 py-5 text-sm font-normal text-left text-santa" scope="row">Convallis.</th>

            <td class="px-6 py-5">
              <!-- Heroicon name: solid/minus -->
              <svg class="w-5 h-5 mx-auto text-smoke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Plain</span>
            </td>

            <td class="px-6 py-5 rounded-t-2xl bg-mirage">
              <span class="block mx-auto text-sm text-center text-santa">Up to 20 users</span>
            </td>

            <td class="px-6 py-5">
              <span class="block mx-auto text-sm text-center text-santa">Up to 50 users</span>
            </td>
          </tr>

          <tr>
            <th class="px-6 py-5 text-sm font-normal text-left text-santa" scope="row">Adipiscing.</th>

            <td class="px-6 py-5">
              <svg class="w-5 h-5 mx-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Included in Plain</span>
            </td>

            <td class="px-6 py-5 bg-mirage">
              <svg class="w-5 h-5 mx-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Included in Superb</span>
            </td>

            <td class="px-6 py-5">
              <svg class="w-5 h-5 mx-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Included in Astronomic</span>
            </td>
          </tr>

          <tr>
            <th class="px-6 py-5 text-sm font-normal text-left text-santa" scope="row">Eget risus integer.</th>

            <td class="px-6 py-5">
              <!-- Heroicon name: solid/minus -->
              <svg class="w-5 h-5 mx-auto text-smoke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Plain</span>
            </td>

            <td class="px-6 py-5 bg-mirage">
              <svg class="w-5 h-5 mx-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Included in Superb</span>
            </td>

            <td class="px-6 py-5">
              <svg class="w-5 h-5 mx-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Included in Astronomic</span>
            </td>
          </tr>

          <tr>
            <th class="px-6 py-5 text-sm font-normal text-left text-santa" scope="row">Gravida leo urna velit.</th>

            <td class="px-6 py-5">
              <!-- Heroicon name: solid/minus -->
              <svg class="w-5 h-5 mx-auto text-smoke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Plain</span>
            </td>

            <td class="px-6 py-5 bg-mirage">
              <!-- Heroicon name: solid/minus -->
              <svg class="w-5 h-5 mx-auto text-smoke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Superb</span>
            </td>

            <td class="px-6 py-5">
              <svg class="w-5 h-5 mx-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Included in Astronomic</span>
            </td>
          </tr>

          <tr>
            <th class="px-6 py-5 text-sm font-normal text-left text-santa" scope="row">Elementum ut dapibus mi feugiat cras nisl.</th>

            <td class="px-6 py-5">
              <!-- Heroicon name: solid/minus -->
              <svg class="w-5 h-5 mx-auto text-smoke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Plain</span>
            </td>

            <td class="px-6 py-5 rounded-b-2xl bg-mirage">
              <!-- Heroicon name: solid/minus -->
              <svg class="w-5 h-5 mx-auto text-smoke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Superb</span>
            </td>

            <td class="px-6 py-5">
              <svg class="w-5 h-5 mx-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Included in Astronomic</span>
            </td>
          </tr>

          <tr>
            <th class="py-3 pl-6 text-sm font-medium text-left text-white" colspan="4" scope="colgroup">
              <!-- This example requires Tailwind CSS v2.0+ -->
              <div class="relative">
                <div class="absolute inset-0 flex items-center" aria-hidden="true">
                  <div class="w-full border-t border-moody"></div>
                </div>
                <div class="relative flex justify-start">
                  <span class="pr-3 text-lg font-medium text-moody bg-cinder"> Support </span>
                </div>
              </div>
            </th>
          </tr>

          <tr>
            <th class="px-6 py-5 text-sm font-normal text-left text-santa" scope="row">Sit dignissim.</th>

            <td class="px-6 py-5">
              <svg class="w-5 h-5 mx-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Included in Plain</span>
            </td>

            <td class="px-6 py-5 rounded-t-2xl bg-mirage">
              <svg class="w-5 h-5 mx-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Included in Superb</span>
            </td>

            <td class="px-6 py-5">
              <svg class="w-5 h-5 mx-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Included in Astronomic</span>
            </td>
          </tr>

          <tr>
            <th class="px-6 py-5 text-sm font-normal text-left text-santa" scope="row">Congue at nibh et.</th>

            <td class="px-6 py-5">
              <!-- Heroicon name: solid/minus -->
              <svg class="w-5 h-5 mx-auto text-smoke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Plain</span>
            </td>

            <td class="px-6 py-5 bg-mirage">
              <svg class="w-5 h-5 mx-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Included in Superb</span>
            </td>

            <td class="px-6 py-5">
              <svg class="w-5 h-5 mx-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Included in Astronomic</span>
            </td>
          </tr>

          <tr>
            <th class="px-6 py-5 text-sm font-normal text-left text-santa" scope="row">Volutpat feugiat mattis.</th>

            <td class="px-6 py-5">
              <!-- Heroicon name: solid/minus -->
              <svg class="w-5 h-5 mx-auto text-smoke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Plain</span>
            </td>

            <td class="px-6 py-5 bg-mirage">
              <svg class="w-5 h-5 mx-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Included in Superb</span>
            </td>

            <td class="px-6 py-5">
              <svg class="w-5 h-5 mx-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Included in Astronomic</span>
            </td>
          </tr>

          <tr>
            <th class="px-6 py-5 text-sm font-normal text-left text-santa" scope="row">Tristique pellentesque ornare diam sapien.</th>

            <td class="px-6 py-5">
              <!-- Heroicon name: solid/minus -->
              <svg class="w-5 h-5 mx-auto text-smoke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Plain</span>
            </td>

            <td class="px-6 py-5 bg-mirage">
              <!-- Heroicon name: solid/minus -->
              <svg class="w-5 h-5 mx-auto text-smoke" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd" />
              </svg>
              <span class="sr-only">Not included in Superb</span>
            </td>

            <td class="px-6 py-5">
              <svg class="w-5 h-5 mx-auto text-moody" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path
                  fill-rule="evenodd"
                  d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                  clip-rule="evenodd"
                />
              </svg>
              <span class="sr-only">Included in Astronomic</span>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th class="sr-only" scope="row">Choose your plan</th>

            <td class="px-6 py-5">
              <a
                href="#"
                class="items-center block px-8 py-2.5 text-base font-medium text-center text-white transition duration-500 ease-in-out transform border-2 border-white rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:bg-white hover:text-majorelly"
                >Buy Plain</a
              >
            </td>

            <td class="px-6 py-5 rounded-b-2xl bg-mirage">
              <a
                href="#"
                class="items-center block px-8 py-3 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-majorelly lg:px-10 rounded-xl hover:bg-gov focus:outline-none focus:ring-2 focus:ring-offset-2"
                >Buy Superb</a
              >
            </td>

            <td class="px-6 py-5">
              <a
                href="#"
                class="items-center block px-8 py-2.5 text-base font-medium text-center text-white transition duration-500 ease-in-out transform border-2 border-white rounded-xl focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-white hover:bg-white hover:text-majorelly"
                >Buy Astronomic</a
              >
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
</section>
