<div class="relative items-center hidden w-full max-w-6xl px-5 py-12 mx-auto md:px-12 lg:px-16 lg:block">
  <div class="mx-auto">
    <div class="grid grid-cols-2 mx-auto lg:grid-cols-5">
      <div>
        <img class="h-12 mx-auto" src="./images/brands/logoOne.svg" alt="Figma" />
      </div>
      <div>
        <img class="h-12 mx-auto" src="./images/brands/logoTwo.svg" alt="Framer" />
      </div>
      <div>
        <img class="h-12 mx-auto" src="./images/brands/logoThree.svg" alt="Sketch " />
      </div>
      <div>
        <img class="h-12 mx-auto" src="./images/brands/logoFour.svg" alt="Sketch " />
      </div>

      <div>
        <img class="h-12 mx-auto" src="./images/brands/logoFive.svg" alt="Invision" />
      </div>
    </div>
  </div>
</div>
