<section class="relative w-full">
  <div class="relative items-center w-full px-5 py-24 mx-auto md:px-12 lg:px-16 max-w-7xl">
    <div class="flex w-full mx-auto text-left lg:mt-16">
      <div class="relative inline-flex items-center m-auto align-middle">
        <div class="max-w-3xl space-y-8 lg:text-center">
          <h1 class="mb-4 text-4xl font-bold leading-none text-white lg:text-5xl">
            <span class="text-iris"> Welcome </span>
            to our support page.
          </h1>
          <div class="max-w-lg lg:mx-auto">
            <p class="mb-6 text-xl font-light text-santa">Great news and features are coming to our platform</p>
          </div>
          <div class="w-full max-w-md space-y-8 lg:mx-auto">
            <form
              action="https://www.getrevue.co/profile/mike_andreuzza/add_subscriber"
              method="post"
              id="revue-form"
              name="revue-form"
              target="_blank"
              class="items-center w-full p-1 mt-6 overflow-hidden transition duration-500 ease-in-out transform border-2 border-white lg:ml-auto lg:inline-flex sm:max-w-lg rounded-xl"
            >
              <div class="flex-1 min-w-0 revue-form-group">
                <label for="search" class="sr-only">Quick search</label>
                <div class="relative flex items-center">
                  <input
                    type="text"
                    name="search"
                    id="search"
                    class="block w-full py-1 pr-12 text-white bg-transparent border-0 placeholder-river focus:ring-0 sm:text-sm"
                  />
                  <div class="absolute inset-y-0 right-0 flex py-0.5 pr-0.5">
                    <kbd class="inline-flex items-center px-2 font-sans text-sm font-medium text-white rounded-md"> ⌘K </kbd>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="relative w-full">
  <div class="relative items-center w-full px-5 py-12 mx-auto lg:py-32 md:px-12 lg:px-16 max-w-7xl">
    <div class="flex w-full mx-auto text-left">
      <div class="relative inline-flex items-center m-auto align-middle">
        <div class="max-w-3xl space-y-8 lg:text-center">
          <h2 class="mb-4 text-4xl font-bold leading-none text-white lg:text-6xl">Knowledge base</h2>
          <p class="mb-6 text-xl font-light text-santa">Explore our guides and discover the best practices.</p>
        </div>
      </div>
    </div>
    <div class="py-6 lg:py-12">
      <div class="max-w-xl mx-auto lg:max-w-7xl">
        <h2 class="sr-only">Title text for screen readers</h2>
        <dl class="grid grid-cols-2 gap-4 lg:grid-cols-3">
          <a href="./category.html">
            <div class="h-full p-6 bg-cinder lg:p-12 shadow-thick rounded-2xl">
              <dt class="space-y-8">
                <div class="flex items-center text-moody">
                  <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
                    />
                  </svg>
                </div>
                <p class="text-xl text-white lg:text-2xl group-hover:text-moody">Notes</p>
              </dt>
              <dd class="mt-2 text-xs lg:text-base text-santa">
                <span> Leverage agile frameworks to provide a robust synopsis for high level overviews. </span>
              </dd>
            </div>
          </a>
          <a href="./category.html">
            <div class="h-full p-6 bg-cinder lg:p-12 shadow-thick rounded-2xl">
              <dt class="space-y-8">
                <div class="flex items-center text-moody">
                  <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
                    />
                  </svg>
                </div>
                <p class="text-xl text-white lg:text-2xl group-hover:text-moody">API</p>
              </dt>
              <dd class="mt-2 text-xs lg:text-base text-santa">
                <span> Leverage agile frameworks to provide a robust synopsis for high level overviews. </span>
              </dd>
            </div>
          </a>
          <a href="./category.html">
            <div class="h-full p-6 bg-cinder lg:p-12 shadow-thick rounded-2xl">
              <dt class="space-y-8">
                <div class="flex items-center text-moody">
                  <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
                    />
                  </svg>
                </div>
                <p class="text-xl text-white lg:text-2xl group-hover:text-moody">Account</p>
              </dt>
              <dd class="mt-2 text-xs lg:text-base text-santa">
                <span> Leverage agile frameworks to provide a robust synopsis for high level overviews. </span>
              </dd>
            </div>
          </a>
          <a href="./category.html">
            <div class="h-full p-6 bg-cinder lg:p-12 shadow-thick rounded-2xl">
              <dt class="space-y-8">
                <div class="flex items-center text-moody">
                  <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
                    />
                  </svg>
                </div>
                <p class="text-xl text-white lg:text-2xl group-hover:text-moody">Settings</p>
              </dt>
              <dd class="mt-2 text-xs lg:text-base text-santa">
                <span> Leverage agile frameworks to provide a robust synopsis for high level overviews. </span>
              </dd>
            </div>
          </a>
          <a href="./category.html">
            <div class="h-full p-6 bg-cinder lg:p-12 shadow-thick rounded-2xl">
              <dt class="space-y-8">
                <div class="flex items-center text-moody">
                  <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
                    />
                  </svg>
                </div>
                <p class="text-xl text-white lg:text-2xl group-hover:text-moody">Deposit</p>
              </dt>
              <dd class="mt-2 text-xs lg:text-base text-santa">
                <span> Leverage agile frameworks to provide a robust synopsis for high level overviews. </span>
              </dd>
            </div>
          </a>
          <a href="./category.html">
            <div class="h-full p-6 bg-cinder lg:p-12 shadow-thick rounded-2xl">
              <dt class="space-y-8">
                <div class="flex items-center text-moody">
                  <svg class="w-6 h-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
                    />
                  </svg>
                </div>
                <p class="text-xl text-white lg:text-2xl group-hover:text-moody">Legacy</p>
              </dt>
              <dd class="mt-2 text-xs lg:text-base text-santa">
                <span> Leverage agile frameworks to provide a robust synopsis for high level overviews. </span>
              </dd>
            </div>
          </a>
        </dl>
      </div>
    </div>
  </div>
</section>
<section class="relative w-full">
  <div class="relative items-center w-full px-5 py-12 mx-auto lg:py-32 md:px-12 lg:px-16 max-w-7xl">
    <div class="flex w-full mx-auto text-left">
      <div class="relative inline-flex items-center m-auto align-middle">
        <div class="max-w-3xl space-y-8 lg:text-center">
          <h2 class="mb-4 text-4xl font-bold leading-none text-white lg:text-6xl">Others also viewed.</h2>
        </div>
      </div>
    </div>
    <div class="py-6 lg:py-12">
      <div class="max-w-xl mx-auto lg:max-w-7xl">
        <h2 class="sr-only">Title text for screen readers</h2>
        <dl class="grid grid-cols-2 gap-4 lg:grid-cols-4">
          <a href="./category.html">
            <div class="h-full p-6 bg-cinder lg:p-12 shadow-thick rounded-2xl group">
              <dt class="space-y-8">
                <p class="text-xl text-white lg:text-2xl group-hover:text-moody">Built with</p>
              </dt>
              <dd class="mt-2 text-xs lg:text-base text-santa">
                <span> Leverage agile. </span>
              </dd>
            </div>
          </a>
          <a href="./category.html">
            <div class="h-full p-6 bg-cinder lg:p-12 shadow-thick rounded-2xl group">
              <dt class="space-y-8">
                <p class="text-xl text-white lg:text-2xl group-hover:text-moody">API</p>
              </dt>
              <dd class="mt-2 text-xs lg:text-base text-santa">
                <span> Leverage agile. </span>
              </dd>
            </div>
          </a>
          <a href="./category.html">
            <div class="h-full p-6 bg-cinder lg:p-12 shadow-thick rounded-2xl group">
              <dt class="space-y-8">
                <p class="text-xl text-white lg:text-2xl group-hover:text-moody">Customize</p>
              </dt>
              <dd class="mt-2 text-xs lg:text-base text-santa">
                <span> Leverage agile. </span>
              </dd>
            </div>
          </a>
          <a href="./category.html">
            <div class="h-full p-6 bg-cinder lg:p-12 shadow-thick rounded-2xl group">
              <dt class="space-y-8">
                <p class="text-xl text-white lg:text-2xl group-hover:text-moody">Code</p>
              </dt>
              <dd class="mt-2 text-xs lg:text-base text-santa">
                <span> Leverage agile. </span>
              </dd>
            </div>
          </a>
        </dl>
      </div>
    </div>
  </div>
</section>
<section class="relative w-full">
  <div class="relative items-center w-full px-5 py-12 mx-auto lg:py-32 md:px-12 lg:px-16 max-w-7xl">
    <div class="lg:grid lg:grid-cols-3 lg:gap-8">
      <h2 class="text-4xl font-bold leading-none text-white lg:text-6xl">We are here 24/7</h2>
      <div class="grid grid-cols-1 gap-12 mt-8 sm:grid-cols-2 sm:gap-x-8 sm:gap-y-12 lg:mt-0 lg:col-span-2">
        <div>
          <h3 class="text-xl text-white lg:text-2xl">Create a ticket</h3>
          <dl class="mt-2 text-base text-santa">
            <div>
              <dd>Robust synopsis for high level overviews.</dd>
            </div>
            <div class="flex w-full max-w-2xl gap-2 mt-6">
              <div class="my-3 rounded-lg sm:mt-0">
                <a
                  href="#"
                  class="items-center block px-8 py-3 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-majorelly lg:px-10 rounded-xl hover:bg-gov focus:outline-none focus:ring-2 focus:ring-offset-2 shadow-thick"
                >
                  Create a ticket
                </a>
              </div>
            </div>
          </dl>
        </div>
        <div>
          <h3 class="text-xl text-white lg:text-2xl">Contact support</h3>
          <dl class="mt-2 text-base text-santa">
            <div>
              <dd>Robust synopsis for high level overviews.</dd>
            </div>
            <div class="flex w-full max-w-2xl gap-2 mt-6">
              <div class="my-3 rounded-lg sm:mt-0">
                <a
                  href="#"
                  class="items-center block px-8 py-3 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-majorelly lg:px-10 rounded-xl hover:bg-gov focus:outline-none focus:ring-2 focus:ring-offset-2 shadow-thick"
                >
                  Contact support
                </a>
              </div>
            </div>
          </dl>
        </div>
        <div>
          <h3 class="text-xl text-white lg:text-2xl">Call</h3>
          <dl class="mt-2 text-base text-santa">
            <div>
              <dd>Robust synopsis for high level overviews.</dd>
            </div>
            <div class="flex w-full max-w-2xl gap-2 mt-6">
              <div class="my-3 rounded-lg sm:mt-0">
                <a
                  href="#"
                  class="items-center block px-8 py-3 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-majorelly lg:px-10 rounded-xl hover:bg-gov focus:outline-none focus:ring-2 focus:ring-offset-2 shadow-thick"
                >
                  Call
                </a>
              </div>
            </div>
          </dl>
        </div>
        <div>
          <h3 class="text-xl text-white lg:text-2xl">Chat</h3>
          <dl class="mt-2 text-base text-santa">
            <div>
              <dd>Robust synopsis for high level overviews.</dd>
            </div>
            <div class="flex w-full max-w-2xl gap-2 mt-6">
              <div class="my-3 rounded-lg sm:mt-0">
                <a
                  href="#"
                  class="items-center block w-full px-8 py-3 text-base font-medium text-center text-white transition duration-500 ease-in-out transform bg-majorelly lg:px-10 rounded-xl hover:bg-gov focus:outline-none focus:ring-2 focus:ring-offset-2 shadow-thick"
                >
                  Chat
                </a>
              </div>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>
</section>
