<section class="relative w-full" id="allpages">
  <div class="relative items-center w-full px-5 mx-auto pb-44 md:px-12 lg:px-20 max-w-7xl">
    <div class="space-y-24">
      <div>
        <div class="pb-5">
          <div class="pt-12 pb-6 border-b border-river">
            <h3 class="text-2xl font-normal leading-6 text-white">Pages</h3>
          </div>
        </div>

        <div class="grid grid-cols-1 mt-6 gap-x-8 gap-y-8 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-4">
          <a href="./product.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/product.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>

          <a href="./features.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/features.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>

          <a href="./about.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/about.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./team.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/team.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./team-member.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/team-member.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./contact.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/contact.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./blog-one.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/blog-one.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./blog-two.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/blog-two.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./blog-post.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/blog-post.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./pricing.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/pricing-full.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./pricing-simple.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/pricing-simple.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./help-center.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/center.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./help-center-category.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/category.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./help-article.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/article.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>

          <!-- More products... -->
        </div>
      </div>
      <div>
        <div class="pt-12 pb-6 border-b border-river">
          <h3 class="text-2xl font-normal leading-6 text-white">Dashboard</h3>
        </div>
        <div class="grid grid-cols-1 mt-6 gap-x-8 gap-y-8 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-4">
          <a href="./profile.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/profile.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./notifications.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/notifications.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./settings.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/settings.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./billing.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/billing.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./new-card.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/new-card.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./password.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/password.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./calendar.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/calendar.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./session.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/session.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./apps.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/apps.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./export.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/export.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div>
        <div class="pt-12 pb-6 border-b border-river">
          <h3 class="text-2xl font-normal leading-6 text-white">System pages</h3>
        </div>
        <div class="grid grid-cols-1 mt-6 gap-x-8 gap-y-8 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-4">
          <a href="./components.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/components.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./style-guide.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/style-guide.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div>
        <div class="pt-12 pb-6 border-b border-river">
          <h3 class="text-2xl font-normal leading-6 text-white">Forms</h3>
        </div>
        <div class="grid grid-cols-1 mt-6 gap-x-8 gap-y-8 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-4">
          <a href="./sign-in.html" class="relative group">
            <div class="h-auto overflow-hidden rounded-lg lg:aspect-h-2 sm:aspect-w-3 shadow-thick">
              <img src="./images/thumbnails/sign-in.png" alt="preview" class="object-cover object-center" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./sign-up.html" class="relative group">
            <div class="h-auto overflow-hidden rounded-lg lg:aspect-h-2 sm:aspect-w-3 shadow-thick">
              <img src="./images/thumbnails/sign-up.png" alt="preview" class="object-cover object-center" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>

          <a href="./forgot-password.html" class="relative group">
            <div class="h-auto overflow-hidden rounded-lg lg:aspect-h-2 sm:aspect-w-3 shadow-thick">
              <img src="./images/thumbnails/forgot-password.png" alt="preview" class="object-cover object-center" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./reset-password.html" class="relative group">
            <div class="h-auto overflow-hidden rounded-lg lg:aspect-h-2 sm:aspect-w-3 shadow-thick">
              <img src="./images/thumbnails/reset-password.png" alt="preview" class="object-cover object-center" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./protected-password.html" class="relative group">
            <div class="h-auto overflow-hidden rounded-lg lg:aspect-h-2 sm:aspect-w-3 shadow-thick">
              <img src="./images/thumbnails/protected-password.png" alt="preview" class="object-cover object-center" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./email-confirmation.html" class="relative group">
            <div class="h-auto overflow-hidden rounded-lg lg:aspect-h-2 sm:aspect-w-3 shadow-thick">
              <img src="./images/thumbnails/email-confirmation.png" alt="preview" class="object-cover object-center" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./404.html" class="relative group">
            <div class="h-auto overflow-hidden rounded-lg lg:aspect-h-2 sm:aspect-w-3 shadow-thick">
              <img src="./images/thumbnails/404.png" alt="preview" class="object-cover object-center" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div>
        <div class="pt-12 pb-6 border-b border-river">
          <h3 class="text-2xl font-normal leading-6 text-white">Utility Pages</h3>
        </div>
        <div class="grid grid-cols-1 mt-6 gap-x-8 gap-y-8 sm:grid-cols-2 sm:gap-y-10 lg:grid-cols-4">
          <a href="./faq.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/faq.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./terms.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/terms.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./license.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/license.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./privacy.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/privacy.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
          <a href="./coming-soon.html" class="relative group">
            <div class="overflow-hidden rounded-lg h-52 sm:aspect-w-2 sm:aspect-h-3 shadow-thick">
              <img src="./images/thumbnails/coming-soon.png" alt="preview" class="object-cover object-top" />
              <div class="flex items-end p-4 opacity-0 group-hover:opacity-100" aria-hidden="true">
                <div class="w-full px-4 py-2 text-sm font-medium text-center text-white bg-opacity-75 rounded-md bg-river backdrop-filter backdrop-blur">
                  See Page
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
