<section>
  <div class="overflow-auto">
    <div class="py-12 lg:mx-auto lg:max-w-7xl lg:px-16 lg:py-32">
      <div class="lg:grid lg:grid-cols-3 lg:grid-flow-col-dense lg:gap-24">
        <div class="mt-12 rounded-xl sm:mt-16 lg:mt-0 lg:col-span-2">
          <div class="pr-5 -ml-48  sm:pr-6 md:-ml-16 lg:px-0 lg:m-0 lg:relative lg:h-full">
            <img
              class="w-full  shadow-thick rounded-2xl ring-1 ring-pearl ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none"
              src="./images/dashboardLeft.png" alt="Inbox user interface" />
          </div>
        </div>
        <div class="max-w-xl px-5 mx-auto  sm:px-6 lg:py-16 lg:max-w-lg lg:mx-0 lg:px-0">
          <h1
            class="max-w-4xl mt-24 text-5xl font-bold leading-none tracking-tighter text-white  lg:text-5xl lg:max-w-xl">
            A medium headline, a TL;DR.
          </h1>
          <p class="max-w-md mt-6 text-base  text-santa sm:text-lg md:mt-5 md:max-w-xl">
            Get access to our APIs and start building your next fintech product
            today. Leverage agile frameworks to provide a robust synopsis for
            high level overviews.
          </p>
          <div class="flex w-full max-w-2xl gap-2 mt-6">
            <div class="my-3 rounded-lg sm:mt-0">
              <a href="#"
                class="items-center block px-8 py-3 text-base font-medium text-center text-white transition duration-500 ease-in-out transform  bg-majorelly lg:px-10 rounded-xl hover:bg-gov focus:outline-none focus:ring-2 focus:ring-offset-2 shadow-thick">
                Learn more
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>