<div class="hidden p-6 bg-pearl rounded-2xl lg:block">
  <nav class="space-y-8" aria-label="Sidebar">
    <a
      href="./profile.html"
      class="items-center block w-full text-base font-medium transition duration-500 ease-in-out transform text-santa hover:text-moody focus:outline-none"
      aria-current="page"
    >
      <span> Profile </span>
    </a>
    <a
      href="./billing.html"
      class="items-center block w-full text-base font-medium transition duration-500 ease-in-out transform text-santa hover:text-moody focus:outline-none"
    >
      <span> Billing </span>
    </a>
    <a
      href="./settings.html"
      class="items-center block w-full text-base font-medium transition duration-500 ease-in-out transform text-santa hover:text-moody focus:outline-none"
    >
      <span> Settings </span>
    </a>
    <a
      href="./notifications.html"
      class="items-center block w-full text-base font-medium transition duration-500 ease-in-out transform text-santa hover:text-moody focus:outline-none"
    >
      <span> Notifications </span>
    </a>
    <a
      href="./password.html"
      class="items-center block w-full text-base font-medium transition duration-500 ease-in-out transform text-santa hover:text-moody focus:outline-none"
    >
      <span> Change Password </span>
    </a>
    <a
      href="./session.html"
      class="items-center block w-full text-base font-medium transition duration-500 ease-in-out transform text-santa hover:text-moody focus:outline-none"
    >
      <span> Sessions </span>
    </a>
    <a
      href="./apps.html"
      class="items-center block w-full text-base font-medium transition duration-500 ease-in-out transform text-santa hover:text-moody focus:outline-none"
    >
      <span> Applications </span>
    </a>
    <a
      href="./calendar.html"
      class="items-center block w-full text-base font-medium transition duration-500 ease-in-out transform text-santa hover:text-moody focus:outline-none"
    >
      <span> Calendar </span>
    </a>
    <a
      href="./export.html"
      class="items-center block w-full text-base font-medium transition duration-500 ease-in-out transform text-santa hover:text-moody focus:outline-none"
    >
      <span> Export </span>
    </a>

    <a
      href="./sign-in.html"
      class="items-center block w-full text-base font-medium transition duration-500 ease-in-out transform text-santa hover:text-moody focus:outline-none"
    >
      <span> Sign in </span>
    </a>
    <a
      href="./sign-up.html"
      class="items-center block w-full text-base font-medium transition duration-500 ease-in-out transform text-santa hover:text-moody focus:outline-none"
    >
      <span> Sign up </span>
    </a>
  </nav>
</div>
