<section class="bg-nero">
  <div class="px-4 py-12 mx-auto">
    <div class="max-w-4xl mx-auto lg:pt-24">
      <div class="max-w-3xl mx-auto text-lg">
        <h1 data-animate="title" class="text-3xl font-bold text-white">Our team</h1>

        <div class="grid grid-cols-2 my-12 gap-y-12 gap-x-6 lg:grid-cols-4">
          <a href="./team-member.html">
            <figure>
              <img
                class="w-full rounded-xl shadow-thick border-river"
                src="https://pbs.twimg.com/profile_images/1442898475218194432/61p-BNsg_400x400.jpg"
                alt=""
                width="1310"
                height="873"
              />
              <figcaption class="mt-4 text-xs text-river lg:text-base">Gabriel Perales</figcaption>
            </figure>
          </a>
          <a href="./team-member.html">
            <figure>
              <img
                class="w-full rounded-xl shadow-thick border-river"
                src="https://styles.redditmedia.com/t5_11cp2l/styles/profileIcon_lt90r634zs861.png?width=256&height=256&crop=256:256,smart&s=757acc3571af7ba91f9570c5ab5a4b085cc90654"
                alt=""
                width="1310"
                height="873"
              />
              <figcaption class="mt-4 text-xs text-river lg:text-base">Michael Andreuzza</figcaption>
            </figure>
          </a>
          <a href="./team-member.html">
            <figure>
              <img
                class="w-full rounded-xl shadow-thick border-river"
                src="https://images.unsplash.com/photo-1570563676231-d476637bc4bc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=200&h=200&q=80"
                alt=""
                width="1310"
                height="873"
              />
              <figcaption class="mt-4 text-xs text-river lg:text-base">Juan Sinmiedo</figcaption>
            </figure>
          </a>
          <a href="">
            <figure>
              <img
                class="w-full rounded-xl shadow-thick border-river"
                src="https://images.unsplash.com/photo-1511485977113-f34c92461ad9?ixlib=rb-1.2.1&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&ixid=eyJhcHBfaWQiOjE3Nzg0fQ"
                alt=""
                width="1310"
                height="873"
              />
              <figcaption class="mt-4 text-xs text-river lg:text-base">Laetitia Sarmiento</figcaption>
            </figure>
          </a>
          <a href="">
            <figure>
              <img
                class="w-full rounded-xl shadow-thick border-river"
                src="https://images.unsplash.com/photo-1476493279419-b785d41e38d8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&s=61eaea85f1aa3d065400179c78163f15"
                alt=""
                width="1310"
                height="873"
              />
              <figcaption class="mt-4 text-xs text-river lg:text-base">Gabriela Smith</figcaption>
            </figure>
          </a>
          <a href="./team-member.html">
            <figure>
              <img
                class="w-full rounded-xl shadow-thick border-river"
                src="https://images.unsplash.com/photo-1463453091185-61582044d556?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&fit=crop&h=200&w=200&s=73a9df4b7bd1b330db1e903e08575ec1"
                alt=""
                width="1310"
                height="873"
              />
              <figcaption class="mt-4 text-xs text-river lg:text-base">Jhon Smith</figcaption>
            </figure>
          </a>
          <a href="./team-member.html">
            <figure>
              <img
                class="w-full rounded-xl shadow-thick border-river"
                src="https://images.pexels.com/photos/415829/pexels-photo-415829.jpeg?crop=faces&fit=crop&h=200&w=200&auto=compress&cs=tinysrgb"
                alt=""
                width="1310"
                height="873"
              />
              <figcaption class="mt-4 text-xs text-river lg:text-base">Suss Anna</figcaption>
            </figure>
          </a>
          <a href="">
            <figure>
              <img
                class="w-full rounded-xl shadow-thick border-river"
                src="https://images.pexels.com/photos/61100/pexels-photo-61100.jpeg?crop=faces&fit=crop&h=200&w=200&auto=compress&cs=tinysrgb"
                alt=""
                width="1310"
                height="873"
              />
              <figcaption class="mt-4 text-xs text-river lg:text-base">"La pepi"</figcaption>
            </figure>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
